body{
    background-color: #eae3d8;
}
h1, h2, h3, p {
    color: #775d49
}
main {
    box-sizing: border-box;
    width: 100%;
}

.inicio {
    display: grid;
    grid-template-columns: 250px 300px 250px;
    grid-template-rows: repeat(2, 400px);
}

.logo-nav{
    width: 100px;
    height: auto;
}
.logo{
    display: flex;
    width: 250px;
    height: auto;
    justify-items: flex-start;
}
.nav-bar {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    justify-content: center;
    
}
.nav-ul  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap:15px;

}  
.nav-link {
    text-decoration: none;
    color: #775d49;
}
.btn-primary {
    background-color: #775d49;
    color: #eae3d8;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}




