body {
  background: url(/assets/fondobody.avif);
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
}
header {
  background-color: #eae3d8;
}
h1,
h2,
h3,
p {
  color: #775d49;
}


h2 {
  font-size: 50px;
}
h3 {
  color: #eae3d8;
  font-size: 30px;
}
img {
  border-radius: 16px;
}
.contenedor {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;
}

#inicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 150px);
  grid-template-areas:
    "logo-inicio titulo-inicio img-inicio"
    "logo-inicio titulo-inicio img-inicio"
    "p-inicio p-inicio img-inicio"
    "p-inicio p-inicio img-inicio"
    "p-inicio p-inicio img-inicio";
  background-color: #eae3d8;
  border-radius: 8px;
  margin-bottom: 40px;
  height: 750px;

  .logo-inicio {
    grid-area: logo-inicio;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo-inicio {
    grid-area: titulo-inicio;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
  }

  .p-inicio {
    grid-area: p-inicio;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
    font-size: 25px;
  }

  .img-inicio {
    grid-area: img-inicio;
    display: flex;
    justify-content: right;
    object-fit: cover;
    height: 100%;
  }
  .imagen1 {
    width: 450px;
    height: 815px;
  }

  .logo {
    display: flex;
    width: 250px;
    height: auto;
    justify-items: flex-start;
  }
}

.nav-bar {
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  justify-content: center;

  .nav-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    font-weight: bold;
    font-size: 18px;
    margin: 25px;
  }

  .nav-link {
    text-decoration: none;
    color: #775d49;
  }

  .btn-primary {
    background-color: #775d49;
    color: #eae3d8;
    padding: 10px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }

  .btn-nav {
    background-color: #eae3d8;
    color: #775d49;
    padding: 10px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }

  .btn-nav:hover {
    background-color: #775d49;
    color: #eae3d8;
    transition: 0.5s;
  }

  .nav-link:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
}

#sobremi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px repeat(3, 200px);
  grid-template-areas:
    "titulo-sobremi p-sobremi p-sobremi"
    "img-sobremi p-sobremi p-sobremi"
    "img-sobremi p-sobremi p-sobremi"
    "img-sobremi p-sobremi p-sobremi";
  background-color: #eae3d8;
  border-radius: 8px;
  margin-bottom: 40px;
  height: 750px;

  .titulo-sobremi {
    grid-area: titulo-sobremi;
    display: flex;
    padding-top: 30px;
    justify-content: center;
  }
  .img-sobremi {
    grid-area: img-sobremi;
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 80%;
    height: auto;
  }

  .p-sobremi {
    grid-area: p-sobremi;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
    font-size: 25px;
  }
}

#acercade {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px repeat(3, 200px);
  grid-template-areas:
    "titulo-acercade  titulo-acercade  titulo-acercade  titulo-acercade"
    "p-acercade  p-acercade  img-acercade  img-acercade"
    "p-acercade  p-acercade  img-acercade  img-acercade"
    "p-acercade  p-acercade  img-acercade  img-acercade";
  background-color: #eae3d8;
  border-radius: 8px;
  margin-bottom: 40px;
  height: 750px;

  .titulo-acercade {
    grid-area: titulo-acercade;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p-acercade {
    grid-area: p-acercade;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 10px;
  }

  .img-acercade {
    grid-area: img-acercade;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .img-grupo {
    width: 500px;
    align-content: center;
  }
}

#acercade2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #eae3d8;
  border-radius: 8px;
  margin-bottom: 40px;
  height: 750px;

  .card1 {
    background-color: #775d49;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 550px;
    height: 450px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
  }

  .card1:hover {
    transform: scale(1.05);
    transition: 0.5s;
  }

  .p-acercade2 {
    color: #eae3d8;
    font-size: 18px;
    padding-top: 20px;
  }

  .titulo-acercade2 {
    padding-top: 20px;
    text-align: center;
  }

  .frase-acercade2 {
    display: flex;
    justify-content: center;
    align-items: top;
    padding-bottom: 20px;
    font-size: 25px;
    color: #775d49;
  }
  p {
    color: #775d49;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }


}

.acercade2:has(#card1:hover) #card2,
  .acercade2:has(#card2:hover) #card1 {
  filter: blur(3px);
}

#servicios {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: 100px 250px 50px repeat(2, 175px);
  grid-template-areas:
    "titulo-servicios titulo-servicios"
    "img-servicios1 img-servicios2 "
    "subtitulo1 subtitulo2 "
    "p-servicios1 p-servicios2 "
    "btn-descubremas1 btn-descubremas2";
  justify-content: center;
  gap: 40px;
  background-color: #eae3d8;
  border-radius: 8px;
  margin-bottom: 40px;

  .titulo-servicios {
    grid-area: titulo-servicios;
    text-align: center;
    margin-top: 40px;
  }
  .img-servicios1 {
    grid-area: img-servicios1;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 10px;
  }
  .img-servicios2 {
    grid-area: img-servicios2;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 10px;
  }
  .img-serv {
    display: flex;
    width: 100%;
    object-fit: cover;
  }
  .subtitulo1 {
    grid-area: subtitulo1;
    color: #775d49;
    font-size: 30px;
    text-align: center;
  }
  .subtitulo2 {
    grid-area: subtitulo2;
    color: #775d49;
    font-size: 30px;
    text-align: center;
  }
  .p-servicios1 {
    grid-area: p-servicios1;
    font-size: 20px;
    text-align: center;
  }

  .p-servicios2 {
    grid-area: p-servicios2;
    font-size: 20px;
    text-align: center;
  }

  .btn-descubremas1 {
    grid-area: btn-descubremas1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-descubremas2 {
    grid-area: btn-descubremas2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-descubremas1,
  .btn-descubremas2 {
    .btn-primary {
      background-color: #775d49;
      color: #eae3d8;
      padding: 10px;
      border: none;
      border-radius: 16px;
      cursor: pointer;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
    }
  }
}

#contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 75px 600px;
  grid-template-areas:
    "titulo-contacto titulo-contacto"
    "form-contacto img-contacto";
  justify-content: center;
  gap: 20px;
  background-color: #eae3d8;
  margin-bottom: 40px;

  .titulo-contacto {
    grid-area: titulo-contacto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

  .form-contacto {
    grid-area: form-contacto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fdf7ed;
    border-radius: 8px;
  }

  .img-contacto {
    grid-area: img-contacto;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    width: 100%;
  }
  .contacto {
    padding: 25px;
    width: 100%;
  }
  .btn-enviar {
    background-color: #775d49;
    color: #eae3d8;
    padding: 10px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #775d49;
  padding: 20px;

  p {
    color: #eae3d8;
    font-size: 15px;
    margin: 0;
  }
}

